/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico para o body */
body {
  margin: 0; /* Remove a margem padrão do navegador */
  padding: 0; /* Garante que não há padding também */
  box-sizing: border-box; /* Boa prática: box-sizing em toda a página */
}

/* Restante dos seus estilos CSS, como os de light-mode/dark-mode */
body.dark-mode {
  background-color: #1A002F;
  color: white;
}

body.light-mode {
  background-color: #F0F0F0;
  color: #333333;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.6s ease-out forwards;
}
/* Estilos para esconder a barra de rolagem em diferentes navegadores */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
